.calendar {
  margin: 0 auto;
  padding: 0 1em;
  max-width: 1200px;
}

.DayPicker {
  flex: 1;
}

.DayPicker,
.DayPicker-Months,
.DayPicker-Month,
.DayPicker-wrapper,
.DayPicker-Weekdays,
.DayPicker-Body,
.DayPicker-Week,
.DayPicker-WeekdaysRow {
  display: contents;
}

.month-header {
  grid-column-end: span 7;
  text-align: center;
  position: sticky;
  top: 0;
  padding: 1.5rem;
  z-index: 2;
  margin: 0;
  font-size: 1.5em;
  font-family: titling-gothic-fb-wide, sans-serif;
  font-weight: 300;
  font-style: normal;
}

.DayPicker-Months {
  padding: 0 2em 2em;
}

.DayPicker-Month {
  user-select: none;
  width: 100%;
  scroll-snap-align: start;
  margin-bottom: 2em;
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  grid-template-rows: auto;
  gap: 1px;
}

.DayPicker-Weekday {
  color: var(--text-light);
  text-align: center;
  font-size: 1em;
  display: flex;
  align-items: center;
  justify-self: center;
  height: 4em;
  font-family: input-mono-narrow, monospace;
  font-weight: 400;
  font-style: normal;
}

.DayPicker-Weekday abbr[title] {
  border-bottom: none;
  text-decoration: none;
}

.DayPicker-Day {
  outline: none;
}

.dayContents {
  cursor: pointer;
  position: relative;
  transition: 0.15s ease-out;
}

.DayPicker-Day--today .dateBadge {
  background-color: red;
  color: white;
}

.DayPicker--interactionDisabled .DayPicker-Day,
.DayPicker-Day--disabled,
.DayPicker-Day--outside {
  cursor: default;
}

.DayPicker-Day--selected .dayContents .album,
.DayPicker-Day--selected .dayContents .dayDetails {
  opacity: 0.4;
}

.DayPicker-Day .album {
  transition: 0.15s ease-out;
}

.DayPicker-Day--selected .album {
  transform: scale(0.8);
}

.dayAlbum {
  overflow: hidden;
}

.dayAlbum img {
  transition: 0.15s ease-out;
}

.DayPicker-Day.DayPicker-Day--selected {
  transition: none;
}

.detail-pane {
  grid-column-end: span 7;
  background-color: var(--bg-alt);
  overflow-wrap: break-word;
  word-break: break-word;
  transition: 0.1s ease-out;
  display: flex;
  flex-direction: column;
  padding: 2em;
}

.detail-pane-contents {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.dateBadge {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2em;
  height: 2em;
  font-weight: 600;
  border-radius: 50%;
  z-index: 1;
  justify-self: flex-end;
  margin-left: auto;
  font-weight: 600;
  color: var(--text-light);
}

.daySelected {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.selectedDate {
  top: 0;
  position: absolute;
  font-weight: 600;
  width: 100%;
  padding-top: 100%;
  transform: scale(1.6);
  opacity: 0;
  transition: 0.15s ease-out;
  line-height: 1;
  font-family: titling-gothic-fb-wide, sans-serif;
  font-weight: 300;
  font-style: normal;
  pointer-events: none;
}

.selectedDate-contents {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.selectedDate time {
  font-size: 2em;
  line-height: 1.4;
  letter-spacing: -0.05em;
  font-family: titling-gothic-fb-wide, sans-serif;
  font-weight: 300;
  font-style: normal;
}

.selectedDate svg {
  width: 100%;
  height: 100%;
  display: block;
}

.DayPicker-Day--today .selectedDate time {
  color: red;
}

.DayPicker-Day--selected .selectedDate {
  transform: scale(1);
  opacity: 1;
}

.dayDetails {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0.5em 0.5em 1em 0;
  font-size: 0.8em;
  transition: 0.15s ease-out;
}

@media screen and (max-width: 500px) {
  .dayDetails {
    display: none;
  }
}

.dayDetails__text {
  flex: 1;
  overflow: hidden;
  font-family: titling-gothic-fb-condensed, sans-serif;
  font-weight: 300;
  color: var(--text-light);
}

.dayDetails__text > * {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  letter-spacing: 0.02em;
}

.dayDetails__title {
  font-weight: 400;
  color: var(--text);
}
