/* DayPicker styles */

.DayPicker,
.DayPicker-Months,
.DayPicker-Month,
.DayPicker-wrapper,
.DayPicker-Weekdays,
.DayPicker-Body,
.DayPicker-Week,
.DayPicker-WeekdaysRow {
  display: contents;
}

.DayPicker-Month {
  width: 100%;
  margin: 0 1em;
  margin-top: 1em;
  user-select: none;
}

.DayPicker-NavButton {
  position: absolute;
  top: 1em;
  right: 1.5em;
  left: auto;
  display: inline-block;
  margin-top: 2px;
  width: 1.25em;
  height: 1.25em;
  background-position: center;
  background-size: 50%;
  background-repeat: no-repeat;
  color: #8b9898;
  cursor: pointer;
}

.DayPicker-NavButton:hover {
  opacity: 0.8;
}

.DayPicker-NavButton--prev {
  margin-right: 1.5em;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAwCAYAAAB5R9gVAAAABGdBTUEAALGPC/xhBQAAAVVJREFUWAnN2G0KgjAYwPHpGfRkaZeqvgQaK+hY3SUHrk1YzNLay/OiEFp92I+/Mp2F2Mh2lLISWnflFjzH263RQjzMZ19wgs73ez0o1WmtW+dgA01VxrE3p6l2GLsnBy1VYQOtVSEH/atCCgqpQgKKqYIOiq2CBkqtggLKqQIKgqgCBjpJ2Y5CdJ+zrT9A7HHSTA1dxUdHgzCqJIEwq0SDsKsEg6iqBIEoq/wEcVRZBXFV+QJxV5mBtlDFB5VjYTaGZ2sf4R9PM7U9ZU+lLuaetPP/5Die3ToO1+u+MKtHs06qODB2zBnI/jBd4MPQm1VkY79Tb18gB+C62FdBFsZR6yeIo1YQiLJWMIiqVjQIu1YSCLNWFgijVjYIuhYYCKoWKAiiFgoopxYaKLUWOii2FgkophYp6F3r42W5A9s9OcgNvva8xQaysKXlFytoqdYmQH6tF3toSUo0INq9AAAAAElFTkSuQmCC");
}

.DayPicker-NavButton--next {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAwCAYAAAB5R9gVAAAABGdBTUEAALGPC/xhBQAAAXRJREFUWAnN119ugjAcwPHWzJ1gnmxzB/BBE0n24m4xfNkTaOL7wOtsl3AXMMb+Vjaa1BG00N8fSEibPpAP3xAKKs2yjzTPH9RAjhEo9WzPr/Vm8zgE0+gXATAxxuxtqeJ9t5tIwv5AtQAApsfT6TPdbp+kUBcgVwvO51KqVhMkXKsVJFXrOkigVhCIs1Y4iKlWZxB1rX4gwlpRIIpa8SDkWmggrFq4IIRaJKCYWnSgnrXIQV1r8YD+1Vrn+bReagysIFfLABRt31v8oBu1xEBttfRbltmfjgEcWh9snUS2kNdBK6WN1vrOWxObWsz+fjxevsxmB1GQDfINWiev83nhaoiB/CoOU438oPrhXS0WpQ9xc1ZQWxWHqUYe0I0qrKCQKjygDlXIQV2r0IF6ViEBxVTBBSFUQQNhVYkHIVeJAtkNsbQ7c1LtzP6FsObhb2rCKv7NBIGoq4SDmKoEgTirXAcJVGkFSVVpgoSrXICGUMUH/QBZNSUy5XWUhwAAAABJRU5ErkJggg==");
}

.DayPicker-NavButton--interactionDisabled {
  display: none;
}

.DayPicker-Caption > div {
  font-weight: 500;
  font-size: 1.15em;
}

.DayPicker-Weekday {
  padding: 0.5em;
  color: #999;
  text-align: center;
  font-size: 1em;
}

.DayPicker-Weekday abbr[title] {
  border-bottom: none;
  text-decoration: none;
}

.DayPicker-Day {
  cursor: pointer;
  position: relative;
  outline: none;
  transition-property: background-color, color;
  transition: 0.1s ease-out;
}

.dayContents {
  transition: 0.2s ease-out;
}

.dayContents.isPast {
  opacity: 0.5;
}

.DayPicker--interactionDisabled .DayPicker-Day {
  cursor: default;
}

/* Default modifiers */

.DayPicker-Day--today .dateBadge {
  background-color: red;
  color: white;
}

.DayPicker-Day--outside {
  color: #8b9898;
  cursor: default;
}

.DayPicker-Day--disabled {
  color: #dce0e0;
  cursor: default;
  /* background-color: #eff1f1; */
}

/* Example modifiers */

.DayPicker-Day--selected .dayContents {
  transform: scale(0);
}

.dayAlbum {
  overflow: hidden;
}

.dayAlbum img {
  transition: 0.2s ease-out;
}

.DayPicker-Day.DayPicker-Day--selected {
  transition: none;
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  column-gap: 1px;
  row-gap: 1em;
  padding: 0 2em 2em;
}

.expandedInfo {
  grid-row-start: 4;
  grid-column-end: span 7;
  background: #f9f9f9;
  bottom: 0;
  margin: 0 -2em;
  padding: 2em;
  display: flex;
  overflow-wrap: break-word;
  word-break: break-word;
  transition: 0.2s ease-out;
  transition-property: background, color;
  align-items: center;
  margin-bottom: 0.5em;
}

.albumImage {
  width: 50vmax;
  max-width: 250px;
  overflow: hidden;
  margin-right: 2em;
  flex-shrink: 0;
  box-shadow: 0 1vw 3vw -0.5vw rgba(0, 0, 0, 0.2);
}

.albumDetails {
  display: flex;
  flex-direction: column;
  padding: 2em 0;
}

.albumDetails-title {
  margin: 0;
  font-size: 2em;
  line-height: 1;
}

.albumDetails-artist {
  font-size: 1.2em;
  margin: 0.4em 0 1em;
  font-family: benton-sans-wide, sans-serif;
  font-weight: 500;
  font-style: normal;
}

.albumDetails-link {
  margin-top: auto;
  user-select: none;
}

.albumDetails-link svg {
  margin: 0 0 -0.1em 0.1em;
  font-size: 0.85em;
}

.dateBadge {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2em;
  height: 2em;
  font-weight: 600;
  border-radius: 50%;
  z-index: 1;
  justify-self: flex-end;
  margin-left: auto;
  font-family: benton-sans, sans-serif;
  font-weight: 600;
  font-style: normal;
}

.daySelected {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.selectedDate {
  position: absolute;
  font-weight: 600;
  width: 100%;
  padding-top: 100%;
  transform: scale(0);
  transition: 0.2s ease-out;
  font-size: 0.8em;
  line-height: 1;
  font-family: benton-sans, sans-serif;
  font-weight: 600;
  font-style: normal;
}

.selectedDate-month {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-right: -0.1em;
}

.selectedDate-contents {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.selectedDate time {
  font-size: 3em;
  line-height: 1.4;
  letter-spacing: -0.05em;
  font-family: benton-sans-wide, sans-serif;
  font-weight: 500;
  font-style: normal;
}

.DayPicker-Day--today .selectedDate time {
  color: red;
}

.DayPicker-Day--selected .selectedDate {
  transform: scale(1);
}

.selectedDate-arrow {
  content: "";
  width: 2em;
  height: 2em;
  background-color: #eee;
  position: absolute;
  user-select: none;
  bottom: -1em;
  left: 50%;
  transform: translate3d(-50%, 50%, 0) rotate(45deg) scale(0);
  transition: transform 0.2s ease-out;
  z-index: -1;
}

.DayPicker-Day--selected .selectedDate-arrow {
  transform: translate3d(-50%, 50%, 0) rotate(45deg) scale(1);
}

.dayDetails {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0.5em 0.5em 0 0;
  font-size: 0.8em;
}

.dayDetails__text {
  flex: 1;
  overflow: hidden;
}

.dayDetails__text > * {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.chart-header {
  background-color: #fff;
  padding: 1em 2em;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  z-index: 2;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  grid-column-end: span 7;
  margin: 0 -2em 0;
  text-align: left;
}

.chart-title {
  margin: 0;
}
