.calendar {
  display: flex;
  margin: 0 auto;
}

.DayPicker {
  flex: 1;
}

.DayPicker-wrapper,
.DayPicker-Body,
.DayPicker-Week,
.DayPicker-Weekdays,
.DayPicker-WeekdaysRow {
  display: contents;
}

.month-header {
  grid-column-end: span 7;
  text-align: center;
  position: sticky;
  top: 0;
  padding: 1.5rem;
  z-index: 2;
  margin: 0;
  font-size: 1.5em;
  font-family: titling-gothic-fb-wide, sans-serif;
  font-weight: 300;
  font-style: normal;
}

.DayPicker-Months {
  padding: 0 2em 2em;
}

.DayPicker-Month {
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  grid-template-rows: auto;
  gap: 1px;
  user-select: none;
  width: 100%;
  scroll-snap-align: start;
  margin-bottom: 2em;
}

.DayPicker-Weekday {
  color: var(--text-light);
  text-align: center;
  font-size: 1em;
  display: flex;
  align-items: center;
  justify-self: center;
  height: 4em;
  font-family: input-mono-narrow, monospace;
  font-weight: 400;
  font-style: normal;
}

.DayPicker-Weekday abbr[title] {
  border-bottom: none;
  text-decoration: none;
}

.DayPicker-Day {
  cursor: pointer;
  position: relative;
  outline: none;
  transition-property: background-color, color;
  transition: 0.15s ease-out;
}

.dayContents {
  transition: 0.15s ease-out;
}

.DayPicker-Day--today .dateBadge {
  background-color: red;
  color: white;
}

.DayPicker--interactionDisabled .DayPicker-Day,
.DayPicker-Day--disabled,
.DayPicker-Day--outside {
  cursor: default;
}

.DayPicker-Day--selected .dayContents .album,
.DayPicker-Day--selected .dayContents .dayDetails {
  opacity: 0.4;
}

.DayPicker-Day .album {
  transition: 0.15s ease-out;
}

.DayPicker-Day--selected .album {
  transform: scale(0.8);
}

.dayAlbum {
  overflow: hidden;
}

.dayAlbum img {
  transition: 0.15s ease-out;
}

.DayPicker-Day.DayPicker-Day--selected {
  transition: none;
}

.detail-pane {
  background-color: var(--bg);
  overflow-wrap: break-word;
  word-break: break-word;
  transition: 0.1s ease-out;
  display: flex;
  flex-direction: column;
  box-shadow: var(--shadow-large);
  border-radius: 1em;
  margin: 1.5em 0 auto 1.5em;
  overflow: hidden;
  z-index: 5;
  position: sticky;
  top: 1.5em;
  max-height: calc(100vh - 3em);
  max-width: 420px;
  flex: 1;
}

.detail-pane-contents {
  overflow-y: auto;
}

.dateBadge {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2em;
  height: 2em;
  font-weight: 600;
  border-radius: 50%;
  z-index: 1;
  justify-self: flex-end;
  margin-left: auto;
  font-weight: 600;
  color: var(--text-light);
}

.daySelected {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.selectedDate {
  top: 0;
  position: absolute;
  font-weight: 600;
  width: 100%;
  padding-top: 100%;
  transform: scale(1.6);
  opacity: 0;
  transition: 0.15s ease-out;
  line-height: 1;
  font-family: titling-gothic-fb-wide, sans-serif;
  font-weight: 300;
  font-style: normal;
  pointer-events: none;
}

.selectedDate-contents {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.selectedDate time {
  font-size: 2em;
  line-height: 1.4;
  letter-spacing: -0.05em;
  font-family: titling-gothic-fb-wide, sans-serif;
  font-weight: 300;
  font-style: normal;
}

.selectedDate svg {
  width: 100%;
  height: 100%;
  display: block;
}

.DayPicker-Day--today .selectedDate time {
  color: red;
}

.DayPicker-Day--selected .selectedDate {
  transform: scale(1);
  opacity: 1;
}

.dayDetails {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0.5em 0.5em 1em 0;
  font-size: 0.8em;
  transition: 0.15s ease-out;
}

@media screen and (max-width: 1100px) and (min-width: 801px) {
  .dayDetails {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .dayDetails {
    display: none;
  }
}

.dayDetails__text {
  flex: 1;
  overflow: hidden;
  font-family: titling-gothic-fb-condensed, sans-serif;
  font-weight: 300;
  color: var(--text-light);
}

.dayDetails__text > * {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  letter-spacing: 0.02em;
}

.dayDetails__title {
  font-weight: 400;
  color: var(--text);
}

.calendar-nav {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5em;
}

.calendar-nav h3 {
  margin: 0;
}

@media screen and (max-width: 800px) {
  .calendar {
    display: block;
  }

  .DayPicker-Months {
    padding: 0;
    margin-bottom: calc(5em);
  }

  .detail-pane {
    position: fixed;
    margin: 0 auto;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: var(--nav-width);
    transition: 0.2s ease-out;
    height: calc(100vh - var(--nav-width));
    transform: translate3d(0, calc(100% - var(--nav-width) - 24px), 0);
  }

  .calendar.detailExpanded .DayPicker-Months {
    opacity: 0.5;
    pointer-events: none;
  }

  .calendar.detailExpanded .detail-pane {
    transform: translate3d(0, 0, 0);
  }

  .detail-grabber {
    width: 100%;
    height: 16px;
    position: relative;
    cursor: pointer;
    outline: none;
    flex-shrink: 0;
  }

  .detail-grabber::after {
    content: "";
    position: absolute;
    left: 25%;
    right: 25%;
    height: 4px;
    bottom: 0;
    border-radius: 2px;
    background-color: var(--border);
  }
}
