.landing {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.landing h1 {
  margin: 0;
  font-size: 4em;
  line-height: 1;
  font-family: titling-gothic-fb-condensed, sans-serif;
  font-weight: 400;
}

.landing p {
  font-family: titling-gothic-fb-wide, sans-serif;
}
