.chart-header {
  padding: 2em 1.5em;
  border-bottom: 1px solid var(--border);
}

.chart-header form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chart-title {
  background-color: transparent;
  color: inherit;
  padding: 0;
  border: none;
  margin: 0;
  font-size: 3em;
  font-family: titling-gothic-fb-condensed, sans-serif;
  font-weight: 400;
  line-height: 1;
  min-width: 0;
  outline: none;
}

.chart-header > * + * {
  margin-top: 1em;
}

.chart-header-meta > * + *:before {
  content: " · ";
}
