.chart-header {
  padding: 2em 0;
}

.chart-title, .chart-description {
  background-color: transparent;
  color: inherit;
  padding: 0;
  border: none;
  margin: 0;
  font: inherit;
  line-height: 1;
  min-width: 0;
  outline: none;
  display: block;
}

.chart-title {
  font-size: 3em;
  font-family: titling-gothic-fb-condensed, sans-serif;
  font-weight: 400;
}

.chart-description {
  white-space: pre-wrap;
}

.chart-header > * + * {
  margin-top: 1em;
}

.chart-header-meta > * + *:before {
  content: " · ";
}
