.empty {
  width: 100%;
  text-align: center;
  padding: 2em 0;
}

.empty-header {
  font-family: titling-gothic-fb-wide, sans-serif;
  font-weight: 300;
  font-style: normal;
  margin: 0;
}

.empty-description {
  color: var(--text-light);
  margin-top: 0.5em;
}
