.empty {
  width: 100%;
  padding: 2em 1em;
  text-align: center;
}

.empty-header {
  margin: 0;
  font-weight: 300;
  font-family: titling-gothic-fb-wide, sans-serif;
  font-style: normal;
}

.empty-description {
  margin-top: 0.5em;
  color: var(--text-light);
}
