.search-wrapper {
  width: 100%;
  position: relative;
}

.search-wrapper .search-form {
  position: sticky;
  top: 0;
  background-color: var(--bg);
  padding: 1em;
}

.spinner-wrapper {
  background-color: var(--bg-alt);
  position: absolute;
  right: 0;
  width: 4em;
  height: 100%;
  user-select: none;
  top: 0;
  border-radius: 0.5rem;
}

.search-input-wrapper {
  position: relative;
}

.search {
  width: 100%;
  border-radius: 0.5rem;
  font-size: 24px;
  border: none;
  background-color: var(--bg-alt);
  color: var(--text);
  padding: 0.5em 1em;
}

.search:focus {
  outline: none;
  box-shadow: var(--focus);
}

.search::placeholder {
  text-transform: capitalize;
}

.search-results:not(:empty) {
  margin-bottom: 1em;
}

.radio-bar {
  width: 100%;
  display: flex;
  justify-content: stretch;
  margin-bottom: 1em;
}

.radio-bar label {
  flex: 1;
}

.radio-bar label + label .radio-button {
  border-left: none;
}

.radio-bar input[type="radio"] {
  display: none;
}

.radio-bar .radio-button {
  background: transparent;
  border: 1px solid var(--border);
  color: var(--text);
  text-decoration: none;
  height: 2.5em;
  padding: 0 1em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 100%;
  user-select: none;
  white-space: nowrap;
}

.radio-bar label:first-child .radio-button {
  border-top-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
}

.radio-bar label:last-child .radio-button {
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}

.radio-bar input[type="radio"]:checked ~ .radio-button {
  background-color: var(--text);
  border-color: var(--text);
  color: var(--bg);
}

.radio-bar .radio-button svg {
  margin-right: 0.5em;
}
