.search-wrapper {
  width: 100%;
  position: relative;
}

.search {
  width: 100%;
  border-radius: 0.5rem;
  font-size: 24px;
  border: none;
  background-color: #f2f2f2;
  padding: 0.5em 1em;
}

.search:focus {
  outline: none;
  background-color: #fff;
  box-shadow: 0 0 0 4px rgba(0, 0, 255, 0.4);
}

.search::placeholder {
  text-transform: capitalize;
}
