.search-wrapper {
  width: 100%;
  position: relative;
}

.search {
  width: 100%;
  border-radius: 0.5rem;
  font-size: 24px;
  border: none;
  background-color: #fff;
  box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.2);
  padding: 0.5em 1em;
}

.search:focus {
  outline: none;
  box-shadow: 0 0 0 4px rgba(0, 0, 255, 0.4);
}

.search-results {
  position: absolute;
  width: 100%;
  top: 100%;
  border-radius: 0.5rem;
  background-color: #fff;
  box-shadow: 0 4px 8px -2px rgba(0, 0, 0, 0.2);
  z-index: 5;
  overflow: hidden;
}

.search-result {
  background-color: transparent;
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 1em;
  cursor: pointer;
  border: none;
  font-size: 1em;
  text-align: left;
  width: 100%;
}

.search-result:hover {
  background-color: #eee;
}

.search-result-image {
  width: 60px;
}

.search-result-contents {
  margin-left: 1em;
}

.search-result-contents {
  flex: 1;
  display: flex;
  flex-direction: column;
}
