.search-result {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 1em 1.5em;
  color: var(--text-light);
  font-size: 0.8rem;
  text-align: left;
  list-style: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.search-result-album {
  color: var(--text);
  font-weight: 400;
  font-size: 1.2rem;
  font-family: titling-gothic-fb-condensed, sans-serif;
}

.search-result-artist {
  font-weight: 300;
}

.search-result:hover {
  background-color: var(--bg-alt);
}

.search-result-image {
  width: 60px;
}

.search-result-contents {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-left: 1em;
}
