.app {
  overflow: hidden;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.app-content {
  overflow: hidden;
  overflow-y: auto;
  flex: 1;
  position: relative;
}

@media screen and (max-width: 800px) {
  .app {
    flex-direction: column-reverse;
  }
}
