.app {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
}

.app-content {
  overflow: hidden;
  overflow-y: auto;
  flex: 1;
  position: relative;
}

@media screen and (max-width: 800px) {
  .app {
    flex-direction: column-reverse;
  }
}
