.app {
  overflow: hidden;
  display: flex;
  flex-direction: column-reverse;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.app-content {
  overflow: hidden;
  overflow-y: auto;
  flex: 1;
  position: relative;
}
