:root {
  --text: #222;
  --text-light: #666;
  --bg: #fff;
  --bg-alt: #eee;
  --border: #ddd;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #eee;
    --text-light: #ccc;
    --bg: #111;
    --bg-alt: #222;
    --border: #333;
  }
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: benton-sans, sans-serif;
  font-weight: 500;
  font-style: normal;
  background: var(--bg);
  color: var(--text);
}

img,
svg {
  max-width: 100%;
}

img {
  display: block;
}

button {
  font-size: 1em;
  font-family: inherit;
  color: inherit;
  padding: 0;
  margin: 0;
  border: none;
  background: transparent;
}

button svg {
  display: block;
}
