:root {
  --text: #222;
  --text-light: #666;
  --bg: #fff;
  --bg-alt: #eee;
  --border: #ddd;
  --focus: 0 0 0 4px rgba(0, 90, 255, 0.5);
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #eee;
    --text-light: #ccc;
    --bg: #222;
    --bg-alt: #1a1a1a;
    --border: #333;
    --focus: 0 0 0 4px rgba(0, 90, 255, 0.8);
  }
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: benton-sans, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  background: var(--bg-alt);
  color: var(--text);
}

img,
svg {
  max-width: 100%;
}

img {
  display: block;
}

button {
  font-size: 1em;
  font-family: inherit;
  color: inherit;
  padding: 0;
  margin: 0;
  border: none;
  background: transparent;
}

button svg {
  display: block;
}

.button {
  background-color: var(--bg);
  border: 1px solid var(--border);
  color: var(--text);
  border-radius: 0.5em;
  text-decoration: none;
  height: 2.5em;
  padding: 0 1em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.button:hover,
.button:focus {
  outline: none;
  background-color: var(--border);
  color: var(--text);
}

.button:not(.icon-button) + .button:not(.icon-button) {
  margin-left: 0.5em;
}

.button-fill {
  width: 100%;
}

.button-large {
  height: 3em;
}

.icon-button {
  background-color: transparent;
  color: var(--text-light);
  width: 2.5em;
  padding: 0;
  border-radius: 50%;
  border: none;
  flex-shrink: 0;
}

.icon-button.button-large {
  width: 3em;
}

.button svg {
  font-size: 1.2em;
  margin: 0.25em;
}
