.header {
  padding: 1.5em;
  grid-area: nav;
  background-color: var(--bg-alt);
  overflow: hidden;
}

.header-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header a {
  color: var(--text);
}
