.nav {
  padding: 1em 0;
  grid-area: nav;
  background-color: var(--bg-alt);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.logo {
  color: var(--text);
}

.button-signout {
  margin-top: auto;
}
